---
import Customcomponent from "../../components/ugpagescomponents/customcomponent.astro";
---

<head>
  <title>Countdown Timer</title>
</head>
<body>
  <h1 id="title"></h1>
  <p id="countdown"></p>

  <form>
    <label for="title-input">Title:</label>
    <input
      type="text"
      id="title-input"
      name="title"
      placeholder="Enter a title for your countdown"
      required
    />

    <label for="date-input">Date:</label>
    <input type="datetime-local" id="date-input" name="date" required />

    <button type="submit">Create Countdown Timer</button>
  </form>
</body>
