---
const today = new Date();
---

<footer class="footer"></footer>
<body>
  <script>
    // Create countdown timer
    function startCountdownTimer(countdownTo) {
      const countdown = setInterval(() => {
        const now = new Date().getTime();
        const distance = new Date(countdownTo).getTime() - now;
        const days = Math.floor(distance / (1000 * 60 * 60 * 24));
        const hours = Math.floor(
          (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);
        document.getElementById("countdown").innerHTML =
          days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
        if (distance < 0) {
          clearInterval(countdown);
          document.getElementById("countdown").innerHTML = "EXPIRED";
        }
      }, 1000);
    }
  </script>
</body>
