---
const today = new Date();
---

<footer class="footer"></footer>
<body>
  <script>
    // Get URL parameters
    const urlParams = new URLSearchParams(window.location.search);
    const title = decodeURIComponent(urlParams.get("title"));
    const countdownTo = decodeURIComponent(
      urlParams.get("date").replace(/\+/g, " ")
    );
    console.log(countdownTo);
    console.log(new Date(countdownTo));

    // Set title
    document.getElementById("title").textContent = title;

    // Create countdown timer
    function startCountdownTimer(countdownTo) {
      const countdown = setInterval(() => {
        const now = new Date().getTime();
        const distance = new Date(countdownTo).getTime() - now;
        const days = Math.floor(distance / (1000 * 60 * 60 * 24));
        const hours = Math.floor(
          (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);
        document.getElementById("countdown").innerHTML =
          days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
        if (distance < 0) {
          clearInterval(countdown);
          document.getElementById("countdown").innerHTML = "EXPIRED";
        }
      }, 1000);
    }

    // Handle form submission
    document.querySelector("form").addEventListener("submit", (event) => {
      event.preventDefault();

      // Get form values
      const title = document.getElementById("title-input").value;
      const date = document.getElementById("date-input").value;

      // Encode values for URL parameters
      const encodedTitle = encodeURIComponent(title);
      const encodedDate = encodeURIComponent(date);

      // Redirect to countdown timer page with URL parameters
      window.location.href = `countdown.html?title=${encodedTitle}&date=${encodedDate}`;
    });

    // Start countdown timer if URL parameters are present
    if (countdownTo) {
      startCountdownTimer(countdownTo);
    }
  </script>
</body>
