---
const today = new Date();
---

<footer class="footer"></footer>
<body>
  <script>
    const fullscreenButton = document.getElementById("fullscreen-button");
    const exitButton = document.getElementById("exit-button");
    const timer = document.getElementById("timer");

    fullscreenButton.addEventListener("click", () => {
      timer.classList.add("fullscreen");
      exitButton.style.display = "block";
    });

    exitButton.addEventListener("click", () => {
      timer.classList.remove("fullscreen");
      exitButton.style.display = "none";
    });

    var events = [
      { name: "Day 1", date: new Date("Jun 04, 2023 00:00:00").getTime() },
    ];
    //06, 07, 08, 09, 10, 11 and 12 April 2023.
    // Check if there is a saved event in localStorage
    var savedEvent = localStorage.getItem("selectedEvent");
    var currentEvent;
    if (savedEvent !== null) {
      currentEvent = parseInt(savedEvent);
    } else {
      currentEvent = 0;
    }

    var countDownDate = events[currentEvent].date;
    document.getElementById("event-select").value = currentEvent;
    var x;
    // Update the count down every 1 second
    function startCountdown() {
      x = setInterval(function () {
        // Get today's date and time
        var now = new Date().getTime();
        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        if (distance > 0) {
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor(
            (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
          );
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

          // Display the result in the element with id="timer"
          document.getElementById("timer").innerHTML =
            '<span style="font-family: monospace">' +
            (days < 10 ? "0" : "") +
            days +
            ":" +
            (hours < 10 ? "0" : "") +
            hours +
            ":" +
            (minutes < 10 ? "0" : "") +
            minutes +
            ":" +
            (seconds < 10 ? "0" : "") +
            seconds +
            "  " +
            "</span>";
        } else {
          clearInterval(x);
          document.getElementById("timer").innerHTML = "Best of Luck";
        }
      }, 1000);
    }
    startCountdown();
    function toggleEvent() {
      currentEvent = document.getElementById("event-select").value;
      countDownDate = events[currentEvent].date;
      localStorage.setItem("selectedEvent", currentEvent);
      // check if the countdown is finished, if yes, restart the interval
      clearInterval(x);
      startCountdown();
    }

    document
      .getElementById("event-select")
      .addEventListener("change", toggleEvent);

    //Todo list
    const inputElem = document.querySelector("#input-name");
    const form = document.querySelector("#form");
    const listElem = document.querySelector("#to-do-list");
    const buttonElem = document.querySelector("#to-do-list button");

    const toDoArray = JSON.parse(localStorage.getItem("to-do-list")) || [];

    function updateList() {
      listElem.innerHTML = "";

      for (const key in toDoArray) {
        const li = document.createElement("li");

        const span = document.createElement("span");
        span.innerText = toDoArray[key];

        const button = document.createElement("button");
        button.innerText = "Delete";
        button.setAttribute("key", key);
        button.classList.add("delete");

        li.appendChild(span);
        li.appendChild(button);
        listElem.appendChild(li);
      }

      localStorage.setItem("to-do-list", JSON.stringify(toDoArray));
    }

    function addToList(value) {
      if (value === "") return;

      if (toDoArray.length >= 1) {
        toDoArray.splice(0, 1, value);
      } else {
        toDoArray.push(value);
      }

      updateList();
      inputElem.value = "";
      inputElem.focus();
    }

    function deleteFromList(key) {
      toDoArray.splice(Number(key), 1);

      updateList();
      inputElem.value = "";
      inputElem.focus();
    }

    form.addEventListener("submit", (e) => {
      e.preventDefault();
      addToList(inputElem.value);
    });

    document.addEventListener("click", (e) => {
      const el = e.target;
      if (el.classList.contains("delete")) {
        deleteFromList(el.getAttribute("key"));
      }
    });

    updateList();
  </script>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Ubuntu");
  </style>
</body>
