---
import Head from "../../components/Head.astro";
import Elevenfooter from "../../components/elevenfooter.astro";
import Eleventimer from "../../components/eleventimer.svelte";
import Elevenminibar from "../../components/elevenminibar.svelte";
import "../../../src/global.css";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="../favicon.ico" />
  <meta name="generator" content={Astro.generator} />
  <meta property="og:title" content="JEE Mains | 2026 | Countdown | TimeKeeper" />
  <meta property="og:description" content="Ultimate JEE Mains 2026 countdown timer. Track days, hours, minutes til exam. Stay motivated, manage time efficiently. Essential tool for JEE Mains aspirants but not limited too JEE, NEET, BITSAT, MHTCET, WBJEE" />
  <meta property="og:image" content="/1-min.webp" />
  <meta property="og:url" content="https://exam-timekeeper.pages.dev/eleventh/eleventh" />
</head>
<section>
  <main>
    <Head />
    <hr />
    <div id="fullscreenWrapper">
      <div class="flex flex-col items-center" id="timerbase">
        <h1 class="text-5xl md:text-3xl font-bold text-center py-12">
          JEE Mains 2026
        </h1>
        <div class="pb-16" id="timerWrapper">
          <Eleventimer client:load />
        </div>
      </div>
      <div class="px-6" id="minibarWrapper">
        <Elevenminibar client:only />
      </div>
      <div class="px-6 flex space-x-2 mb-4" id="buttonWrapper">
        <button id="toggleFullScreen" class="btn h-8 rounded-md flex-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v6h6M4 20v-6h6m10 6v-6h-6m6-10v6h-6" />
          </svg>
        </button>
        <button id="enterBrowserFullScreen" class="btn h-8 rounded-md flex-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 3H5a2 2 0 00-2 2v3m0 8v3a2 2 0 002 2h3m8-18h3a2 2 0 012 2v3m0 8v3a2 2 0 01-2 2h-3" />
          </svg>
        </button>
      </div>
    </div>
  </main>
</section>

<hr />

<Elevenfooter />

<style>
  #fullscreenWrapper.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
  }

  #fullscreenWrapper.fullscreen #timerbase,
  #fullscreenWrapper.fullscreen #minibarWrapper
  #fullscreenWrapper.fullscreen #buttonWrapper 
  #fullscreenWrapper.fullscreen #enterBrowserFullScreen {
    width: 100%;
    height: 50%;
  }

  @media (max-width: 768px) {
    #fullscreenWrapper.fullscreen #timerbase,
    #fullscreenWrapper.fullscreen #minibarWrapper,
    #fullscreenWrapper.fullscreen #buttonWrapper,
    #fullscreenWrapper.fullscreen #enterBrowserFullScreen {
      width: 100%;
      height: 100%;
    }
  }


  #buttonWrapper {
    display: flex;
    justify-content: space-between;
  }

  #toggleFullScreen,
  #enterBrowserFullScreen {
    flex: 1;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }

  #toggleFullScreen svg,
  #enterBrowserFullScreen svg {
    width: 24px;
    height: 24px;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const fullscreenWrapper = document.getElementById("fullscreenWrapper");
    const toggleFullScreenBtn = document.getElementById("toggleFullScreen");
    const enterBrowserFullScreenBtn = document.getElementById("enterBrowserFullScreen");

    const toggleFullScreen = () => {
      fullscreenWrapper.classList.toggle("fullscreen");
    };

    const enterBrowserFullScreen = () => {
      if (!document.fullscreenElement) {
        document.documentElement.requestFullscreen();
      } else {
        document.exitFullscreen();
      }
    };

    toggleFullScreenBtn.addEventListener("click", toggleFullScreen);
    enterBrowserFullScreenBtn.addEventListener("click", enterBrowserFullScreen);

    document.addEventListener("fullscreenchange", () => {
      if (!document.fullscreenElement) {
        fullscreenWrapper.classList.remove("fullscreen");
      }
    });
  });
</script>
