---
import Head from "../../components/Head.astro";
import Timer from "../../components/timer.astro";
import Layout from "../../layouts/Layout.astro";

import "../../../src/global.css";
import Minibar from "../../components/minibar.svelte";
---

<Layout title="JEE Mains" />
<Head />
<hr />
<section>
  <main>
    <div class="flex flex-col items-center m-16" id="timerbase">
      <h1 class="text-5xl font-bold text-center p-8">Jee Main (6th Apr)</h1>
      <div class="pb-8" id="timer1"></div>
    </div>
  </main>
</section>
<hr />
<Timer />
<Minibar client:load />
<p class="flex flex-col items-center m-6">
  Date options coming soon, visit <a href="https://jeemainstimer.pages.dev/"
    >jeemainstimer.pages.dev</a
  > for timer with options, sorry for the inconvenience
</p>
<footer class="footer footer-center p-4 bg-base-300 text-base-content">
  <div>
    <p>Built by u/KewKartik (meowww#1628)</p>
    <p></p>
    <p class="max-w-screen-lg">
      It is strongly recommended to double-check the information provided on
      this website with official sources to ensure its accuracy. This website
      holds no responsibility for any damages, losses, or inconveniences arising
      from the use of its services.
    </p>
  </div>
</footer>

<style>
  body {
    min-height: 1vh;
    display: flex;
    flex-direction: column;
  }
  footer {
    margin-top: auto;
  }
</style>
