---
import Timer from "../../components/timer.astro";
import "../../../src/global.css";
import Minibar from "../../components/minibar.svelte";
import Layout from "../../layouts/Layout.astro";
---

<head>
  <title>MHT-CET (MHTCET) | 2025 | Countdown | TimeKeeper</title>
</head>

<Layout title="JeeNeeTards | TimeKeeper Countdown for MHT-CET (MHTCET) 2025" description="Ultimate MHT-CET (MHTCET) 2025 countdown timer. Track days, hours, minutes til exam. Stay motivated, manage time efficiently. Essential tool for MHT-CET (MHTCET) aspirants.">
  <hr />
  <section>
    <main>
      <div class="flex flex-col items-center" id="timerbase">
        <h1 class="text-5xl md:text-3xl font-bold text-center py-12">
          MHT-CET 25
        </h1>
        <div class="pb-16" id="timer5"></div>
      </div>
    </main>
  </section>

  <hr />
  <Timer />
  <Minibar />
</Layout>