---
import Head from "../../components/Head.astro";
import Timer from "../../components/timer.astro";
import Footer from "../../components/Footer.astro";
import "../../../src/global.css";
import Minibar from "../../components/minibar.svelte";
import Layout from "../../layouts/Layout.astro";
---

<head>
  <title>MHT-CET</title>
</head>
<Head />
<Layout title="Time Keeper" />
<hr />
<section>
  <main>
    <div class="flex flex-col items-center m-16" id="timerbase">
      <h1 class="text-5xl md:text-3xl font-bold text-center pb-8">
        MHT-CET 24
      </h1>
      <div class="pb-8" id="timer5"></div>
    </div>
  </main>
</section>

<hr />
<Timer />
<Minibar />
<Footer />
