---
import Head from "../../components/Head.astro";
import Timer from "../../components/timer.astro";
import Footer from "../../components/Footer.astro";
import "../../../src/global.css";
import Minibar from "../../components/minibar.svelte";
import Layout from "../../layouts/Layout.astro";
---

<head>
  <title>NEET</title>
  <script>
    // Set the original title of the webpage
    var originalTitle = document.title;

    // Add an event listener for changes in page visibility
    document.addEventListener("visibilitychange", function () {
      // If the page is hidden, append "(Away)" to the title
      if (document.hidden) {
        document.title = "PADHLE BSDK";
      }
      // If the page is visible, remove "(Away)" from the title
      else {
        document.title = originalTitle;
      }
    });
  </script>
</head>
<Head />
<hr />
<section>
  <main>
    <div class="flex flex-col items-center m-16" id="timerbase">
      <h1 class="text-5xl font-bold text-center p-8">NEET</h1>
      <div class="pb-8" id="timer3"></div>
    </div>
  </main>
</section>

<hr />
<Timer />
<Minibar />
<Footer />
