---
import Layout from "../layouts/Layout.astro";
import Cardx from "../components/cardx.astro";
import "../global.css";
---

<Layout title="TimeKeeper | Countdown | JeeNeeTards" description="Ace JEE Mains, Advanced, BITSAT, NEET 2025-2026! Ultimate exam countdown tool for aspiring engineers and medical students. Track JEE, BITSAT, MHTCET, NEET & WBJEE deadlines. Customizable timers for all entrance exams. Stay motivated, manage time effectively. #JEEPrep #NEETCountdown #EntranceExams">
  <main>
    <h1 class="text-5xl md:text-5xl font-black text-center py-4">Welcome to <span class="text-gradient">TimeKeeper</span></h1>
  </main>
  <Cardx />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80ch;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
