---
import Layout from "../layouts/Layout.astro";
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import Cardx from "../components/cardx.astro";
import "../global.css";
---

<Head />
<Layout title="Time Keeper">
  <main>
    <h1 class="text-5xl md:text-5xl font-black text-center py-4">Welcome to <span class="text-gradient">TimeKeeper</span></h1>
  </main>
  <Cardx />
</Layout>
<Footer />

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80ch;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
