---
const today = new Date();
---

<footer class="footer footer-center p-4 bg-base-300 text-base-content">
  <div>
    <p>Built by u/KewKartik (meowww#1628)</p>
    <p></p>
    <p class="max-w-screen-lg">
      <h1>ALL OF THESE DATES ARE TENTATIVE</h1>
      It is strongly recommended to double-check the information provided on this
      website with official sources to ensure its accuracy. This website holds no
      responsibility for any damages, losses, or inconveniences arising from the
      use of its services.
    </p>
  </div>
</footer>

<style>
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  footer {
    margin-top: auto;
  }
</style>
<script>
  // Set the original title of the webpage
  var originalTitle = document.title;

  // Add an event listener for changes in page visibility
  document.addEventListener("visibilitychange", function () {
    // If the page is hidden, append "(Away)" to the title
    if (document.hidden) {
      document.title = "PADHLE!!!!!";
    }
    // If the page is visible, remove "(Away)" from the title
    else {
      document.title = originalTitle;
    }
  });
</script>
