---
const today = new Date();
---

<footer class="footer">
  <a> &copy; {today.getFullYear()} JeeTard here. No rights reserved.</a>
</footer>
<body
  ><!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PF9S037SJQ"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-PF9S037SJQ");
  </script>
  <style>
    .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #101011;
      text-align: center;
      padding: 10px;
    }
  </style>
</body>
