<footer class="footer footer-center p-4 bg-base-300 text-base-content">
  <div>
    <p>Built by u/KewKartik (meowww#1628)</p>
    <p></p>
    <p class="max-w-screen-lg">
      It is strongly recommended to double-check the information provided on
      this website with official sources to ensure its accuracy. This website
      holds no responsibility for any damages, losses, or inconveniences arising
      from the use of its services.
    </p>
  </div>
</footer>

<style>
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  footer {
    margin-top: auto;
  }
</style>
