<!----- TODO: Instead of calculating dates twice, try and use it from timer.astro -----><!----- TODO: Take the data stored in localstorage from the jeemains.astro page and use it here ----->
<body>
  <script>
    var eventsx = [
      // JEE Mains Date [xtimer1]
      { name: "Event x1", datex: new Date("Apr 06, 2023 00:00:00").getTime() },
      // JEE Adv Date [xtimer1]
      { name: "Event x2", datex: new Date("Jun 04, 2023 00:00:00").getTime() },
      // NEET [xtimer2]
      { name: "Event x3", datex: new Date("May 07, 2023 00:00:00").getTime() },
      // BITSAT [xtimer3]
      { name: "Event x4", datex: new Date("May 21, 2023 00:00:00").getTime() },
      // MHTCET [xtimer4]
      { name: "Event x5", datex: new Date("May 09, 2023 00:00:00").getTime() },
      // WBJEE [xtimer5]
      { name: "Event x6", datex: new Date("Apr 30, 2023 00:00:00").getTime() },
    ];

    var countdownsx = [];

    // create countdownsx
    for (var i = 0; i < eventsx.length; i++) {
      var countDownDatex = eventsx[i].datex;
      var timerIdx = "xtimer" + (i + 1);
      var x;

      function startCountdownx(idx, datex) {
        x = setInterval(function () {
          var nowx = new Date().getTime();
          var distancex = datex - nowx;
          if (distancex > 0) {
            var daysx = Math.floor(distancex / (1000 * 60 * 60 * 24));
            var hoursx = Math.floor(
              (distancex % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
            );
            var minutesx = Math.floor(
              (distancex % (1000 * 60 * 60)) / (1000 * 60)
            );
            var secondsx = Math.floor((distancex % (1000 * 60)) / 1000);
            var countdownHtml =
              '<div class="grid grid-flow-col gap-5 text-center auto-cols-max">' +
              '<div class="flex flex-col">' +
              '<span class="countdown font-mono text-4xl">' +
              '<span style="--value:' +
              (daysx < 10 ? "0" : "") +
              daysx +
              ';">' +
              (daysx < 10 ? "0" : "") +
              daysx +
              "</span>" +
              "</span>" +
              "days" +
              "</div>" +
              '<div class="flex flex-col">' +
              '<span class="countdown font-mono text-4xl">' +
              '<span style="--value:' +
              (hoursx < 10 ? "0" : "") +
              hoursx +
              ';">' +
              (hoursx < 10 ? "0" : "") +
              hoursx +
              "</span>" +
              "</span>" +
              "hours" +
              "</div>" +
              '<div class="flex flex-col">' +
              '<span class="countdown font-mono text-4xl">' +
              '<span style="--value:' +
              (minutesx < 10 ? "0" : "") +
              minutesx +
              ';">' +
              (minutesx < 10 ? "0" : "") +
              minutesx +
              "</span>" +
              "</span>" +
              "min" +
              "</div>" +
              '<div class="flex flex-col">' +
              '<span class="countdown font-mono text-4xl">' +
              '<span style="--value:' +
              (secondsx < 10 ? "0" : "") +
              secondsx +
              ';">' +
              (secondsx < 10 ? "0" : "") +
              secondsx +
              "</span>" +
              "</span>" +
              "sec" +
              "</div>" +
              "</div>";

            document.getElementById(idx).innerHTML = countdownHtml;
          } else {
            xclearInterval(x);
            document.getElementById(idx).innerHTML = "Best of Luck";
          }
        }, 1000);
      }

      countdownsx.push({ idx: timerIdx, datex: countDownDatex });

      startCountdownx(timerIdx, countDownDatex);
    }

    // handle event selection change
    function toggleEvent() {
      var currentEventx = document.getElementById("xevent-select").value;
      var countDownDatex = eventsx[currentEventx].datex;
      var timerIdx = " xtimer" + (currentEventx + 1);
      var x;

      xclearInterval(countdownsx[currentEventx].x);

      startCountdownx(timerIdx, countDownDatex);
    }

    document
      .getElementById("xevent-select")
      .addEventListener("change", toggleEvent);
  </script>
</body>

<link rel="icon" type="image/x-icon" href="../favicon.ico" />
<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" href="../">TimeKeeper</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li tabindex="0">
        <a>
          Exams
          <svg
            class="fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            ><path
              d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"
            ></path></svg
          >
        </a>
        <ul class="p-2 bg-base-100">
          <li><a href="../exams/jeemains">Jee Mains</a></li>
          <li><a href="../exams/jeeadvanced">Jee Adv</a></li>
          <li><a href="../exams/neet">NEET</a></li>
          <li><a href="../exams/bitsat">BITSAT</a></li>
          <li><a href="../exams/mhtcet">MHT-CET</a></li>
          <li>
            <a target="_blank" href="https://www.reddit.com/r/mht_cet/"
              >SubReddit <br />for MHTCET</a
            >
          </li>
        </ul>
      </li>
      <li><a id="popup-button">vation</a></li>
    </ul>
  </div>
</div>
<div id="popup-container">
  <div id="popup-content">
    <h1>"insert motivation quote" Best of Luck</h1>
  </div>
</div>
<style>
  #popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
  }

  #popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    text-align: center;
    color: white;
  }

  #popup-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  #popup-content p {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
  }

  .fade-out {
    animation-name: fade-out;
    animation-duration: 1s;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
</style>
<script>
  const button = document.getElementById("popup-button");
  const container = document.getElementById("popup-container");

  button.addEventListener("click", () => {
    container.classList.add("fade-in");
    container.style.display = "flex";

    setTimeout(() => {
      container.classList.remove("fade-in");
      container.classList.add("fade-out");

      setTimeout(() => {
        container.classList.remove("fade-out");
        container.style.display = "none";
      }, 1000);
    }, 3000);
  });
</script>
