---
const today = new Date();
import "../../src/global.css";
---

<footer class="footer"></footer>
<!----- TODO: Instead of calculating dates twice, try and use it from timer.astro ----->
<!----- TODO: Take the data stored in localstorage from the jeemains.astro page and use it here ----->
<body> </body>
