---
const today = new Date();
import "../../src/global.css";
---

<footer class="footer"></footer>
<!----- TODO: Instead of calculating dates twice, try and use it from timer.astro ----->
<!----- TODO: Take the data stored in localstorage from the jeemains.astro page and use it here ----->
<body>
  <script>
    var events = [
      // JEE Mains Date [xtimer1]
      { name: "Event x1", date: new Date("Apr 06, 2023 00:00:00").getTime() },
      // JEE Adv Date [xtimer1]
      { name: "Event x2", date: new Date("Jun 04, 2023 00:00:00").getTime() },
      // NEET [xtimer2]
      { name: "Event x3", date: new Date("May 07, 2023 00:00:00").getTime() },
      // BITSAT [xtimer3]
      { name: "Event x4", date: new Date("May 21, 2023 00:00:00").getTime() },
      // MHTCET [xtimer4]
      { name: "Event x5", date: new Date("May 09, 2023 00:00:00").getTime() },
      // WBJEE [xtimer5]
      { name: "Event x6", date: new Date("Apr 30, 2023 00:00:00").getTime() },
    ];

    var countdowns = [];

    // create countdowns
    for (var i = 0; i < events.length; i++) {
      var countDownDate = events[i].date;
      var timerId = "xtimer" + (i + 1);
      var x;

      function startCountdown(id, date) {
        x = setInterval(function () {
          var now = new Date().getTime();
          var distance = date - now;
          if (distance > 0) {
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor(
              (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
            );
            var minutes = Math.floor(
              (distance % (1000 * 60 * 60)) / (1000 * 60)
            );
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            var countdownHtml =
              '<div class="grid grid-flow-col gap-5 text-center auto-cols-max">' +
              '<div class="flex flex-col">' +
              '<span class="countdown font-mono text-4xl">' +
              '<span style="--value:' +
              (days < 10 ? "0" : "") +
              days +
              ';">' +
              (days < 10 ? "0" : "") +
              days +
              "</span>" +
              "</span>" +
              "days" +
              "</div>" +
              '<div class="flex flex-col">' +
              '<span class="countdown font-mono text-4xl">' +
              '<span style="--value:' +
              (hours < 10 ? "0" : "") +
              hours +
              ';">' +
              (hours < 10 ? "0" : "") +
              hours +
              "</span>" +
              "</span>" +
              "hours" +
              "</div>" +
              '<div class="flex flex-col">' +
              '<span class="countdown font-mono text-4xl">' +
              '<span style="--value:' +
              (minutes < 10 ? "0" : "") +
              minutes +
              ';">' +
              (minutes < 10 ? "0" : "") +
              minutes +
              "</span>" +
              "</span>" +
              "min" +
              "</div>" +
              '<div class="flex flex-col">' +
              '<span class="countdown font-mono text-4xl">' +
              '<span style="--value:' +
              (seconds < 10 ? "0" : "") +
              seconds +
              ';">' +
              (seconds < 10 ? "0" : "") +
              seconds +
              "</span>" +
              "</span>" +
              "sec" +
              "</div>" +
              "</div>";

            document.getElementById(id).innerHTML = countdownHtml;
          } else {
            clearInterval(x);
            document.getElementById(id).innerHTML = "Best of Luck";
          }
        }, 1000);
      }

      countdowns.push({ id: timerId, date: countDownDate });

      startCountdown(timerId, countDownDate);
    }

    // handle event selection change
    function toggleEvent() {
      var currentEvent = document.getElementById("event-select").value;
      var countDownDate = events[currentEvent].date;
      var timerId = " xtimer" + (currentEvent + 1);
      var x;

      clearInterval(countdowns[currentEvent].x);

      startCountdown(timerId, countDownDate);
    }

    document
      .getElementById("event-select")
      .addEventListener("change", toggleEvent);
  </script>
</body>

<!----- Second Line ----->
<hr />
<div class="stats flex shadow">
  <div class="stat block">
    <div class="stat-figure text-rose-300">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block w-8 h-8 stroke-current"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
        ></path></svg
      >
    </div>
    <div class="stat-title">
      <a href="../exams/jeemains">Jee Mains (6th Apr)</a>
    </div>
    <div id="xtimer1" class=""></div>
  </div>

  <div class="stat block">
    <div class="stat-figure text-teal-300">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block w-8 h-8 stroke-current"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
        ></path></svg
      >
    </div>
    <div class="stat-title">
      <a href="../exams/jeeadvanced">Jee Adv</a>
    </div>
    <div id="xtimer2" class=""></div>
  </div>

  <div class="stat block">
    <div class="stat-figure text-orange-400">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block w-8 h-8 stroke-current"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
        ></path></svg
      >
    </div>
    <div class="stat-title"><a href="../exams/neet">NEET</a></div>
    <div id="xtimer3" class=""></div>
  </div>
</div>
<hr />
<!----- Second Line ----->
<div class="stats flex shadow">
  <div class="stat block">
    <div class="stat-figure text-orange-300">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block w-8 h-8 stroke-current"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
        ></path></svg
      >
    </div>
    <div class="stat-title"><a href="../exams/bitsat">BITSAT (S1)</a></div>
    <div id="xtimer4" class=""></div>
  </div>

  <div class="stat block">
    <div class="stat-figure text-amber-300">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block w-8 h-8 stroke-current"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
        ></path></svg
      >
    </div>
    <div class="stat-title"><a href="../exams/mhtcet">MHT-CET</a></div>
    <div id="xtimer5" class=""></div>
  </div>

  <div class="stat block">
    <div class="stat-figure text-lime-400">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block w-8 h-8 stroke-current"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
        ></path></svg
      >
    </div>
    <div class="stat-title">WBJEE</div>
    <div id="xtimer6" class=""></div>
  </div>
</div>
<hr />
