---
const today = new Date();
import "../../src/global.css";
---

<footer class="footer"></footer>
<body>
  <script>
    var events = [
  // JEE [timer1]
  { name: "Event 1", date: new Date("Jan 24, 2024 00:00:00").getTime() },
  // JEE Adv Date [timer2]
  { name: "Event 2", date: new Date("Jun 04, 2024 00:00:00").getTime() },
  // NEET [timer3]
  { name: "Event 3", date: new Date("May 05, 2024 00:00:00").getTime() },
  // BITSAT [timer4]
  { name: "Event 4", date: new Date("May 21, 2024 00:00:00").getTime() },
  // MHTCET [timer5]
  { name: "Event 5", date: new Date("Apr 16, 2024 00:00:00").getTime() },
];

var countdowns = events.map((event, i) => ({
  id: `timer${i + 1}`,
  date: event.date,
}));

function updateCountdown(timer) {
  const element = document.getElementById(timer.id);

  if (element) {
    const now = new Date().getTime();
    const distance = timer.date - now;

    if (distance > 0) {
      const days = Math.floor(distance / (1000 * 60 * 60 * 24));
      const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = Math.floor((distance % (1000 * 60)) / 1000);

      const countdownHtml =
              '<div class="countdown-content mx-auto flex flex-wrap justify-center gap-5 md:gap-2 text-center">' +
              '<div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">' +
              '<span class="font-mono md:text-9xl lg:text-7xl xl:text-9xl">' +
              '<span style="--value:' +
              (days < 10 ? "0" : "") +
              days +
              ';">' +
              (days < 10 ? "0" : "") +
              days +
              "</span>" +
              "</span>" +
              "days" +
              "</div>" +
              '<div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">' +
              '<span class="countdown font-mono md:text-9xl lg:text-7xl xl:text-9xl">' +
              '<span style="--value:' +
              (hours < 10 ? "0" : "") +
              hours +
              ';">' +
              (hours < 10 ? "0" : "") +
              hours +
              "</span>" +
              "</span>" +
              "hours" +
              "</div>" +
              '<div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">' +
              '<span class="countdown font-mono md:text-9xl lg:text-7xl xl:text-9xl">' +
              '<span style="--value:' +
              (minutes < 10 ? "0" : "") +
              minutes +
              ';">' +
              (minutes < 10 ? "0" : "") +
              minutes +
              "</span>" +
              "</span>" +
              "min" +
              "</div>" +
              '<div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">' +
              '<span class="countdown font-mono md:text-9xl lg:text-7xl xl:text-9xl">' +
              '<span style="--value:' +
              (seconds < 10 ? "0" : "") +
              seconds +
              ';">' +
              (seconds < 10 ? "0" : "") +
              seconds +
              "</span>" +
              "</span>" +
              "sec" +
              "</div>" +
              "</div>";

              element.innerHTML = countdownHtml;
        } else {
          clearInterval(x);
          element.innerHTML = "Best of Luck";
        }
      }
    }

    function updateAllCountdowns() {
      countdowns.forEach(updateCountdown);
    }

    // Update the countdowns every second
    const x = setInterval(updateAllCountdowns, 1000);

    // Initial update
    updateAllCountdowns();
  </script>
</body>
