---
const today = new Date();
---

<footer class="footer"></footer>
<body>
  <script>
    var events = [
      { name: "Day 1", date: new Date("Apr 06, 2023 00:00:00").getTime() },
      { name: "Day 2", date: new Date("Apr 07, 2023 00:00:00").getTime() },
      { name: "Day 3", date: new Date("Apr 08, 2023 00:00:00").getTime() },
      { name: "Day 4", date: new Date("Apr 09, 2023 00:00:00").getTime() },
      { name: "Day 5", date: new Date("Apr 10, 2023 00:00:00").getTime() },
      { name: "Day 6", date: new Date("Apr 11, 2023 00:00:00").getTime() },
      { name: "Day 7", date: new Date("Apr 12, 2023 00:00:00").getTime() },
      { name: "Day 8", date: new Date("Jun 4, 2023 00:00:00").getTime() },
    ];
    //06, 07, 08, 09, 10, 11 and 12 April 2023.
    // Check if there is a saved event in localStorage
    var savedEvent = localStorage.getItem("selectedEvent");
    var currentEvent;
    if (savedEvent !== null) {
      currentEvent = parseInt(savedEvent);
    } else {
      currentEvent = 0;
    }
    var countDownDate = events[currentEvent].date;
    document.getElementById("event-select").value = currentEvent;
    var x;
    // Update the count down every 1 second
    function startCountdown() {
      x = setInterval(function () {
        // Get today's date and time
        var now = new Date().getTime();
        // Find the distance between now and the count down date
        var distance = countDownDate - now;
        // Time calculations for days, hours, minutes and seconds
        if (distance > 0) {
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor(
            (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
          );
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);
          // Display the result in the element with id="timer"
          document.getElementById("timer").innerHTML =
            '<span style="font-family: monospace">' +
            (days < 10 ? "0" : "") +
            days +
            ":" +
            (hours < 10 ? "0" : "") +
            hours +
            ":" +
            (minutes < 10 ? "0" : "") +
            minutes +
            ":" +
            (seconds < 10 ? "0" : "") +
            seconds +
            "  " +
            "</span>";
        } else {
          clearInterval(x);
          document.getElementById("timer").innerHTML = "Best of Luck";
        }
      }, 1000);
    }
    startCountdown();
    function toggleEvent() {
      currentEvent = document.getElementById("event-select").value;
      countDownDate = events[currentEvent].date;
      localStorage.setItem("selectedEvent", currentEvent);
      // check if the countdown is finished, if yes, restart the interval
      clearInterval(x);
      startCountdown();
    }
    document
      .getElementById("event-select")
      .addEventListener("change", toggleEvent);
  </script>
</body>
